<h1>Beer clubs</h1>

<table class="table table-striped table-hover" id="beers">
  <thead>
    <tr>
      <th><%= link_to "Name", beer_clubs_path(order: "name")%></th>
      <th><%= link_to "Founded", beer_clubs_path(order: "founded")%></th>
      <th><%= link_to "City", beer_clubs_path(order: "city")%></th>
    </tr>
  </thead>
  <tbody>
    <% @beer_clubs.each do |beer_club| %>
      <tr>
        <td><%= link_to beer_club.name, beer_club %></td>
        <td><%= beer_club.founded %></td>
        <td><%= beer_club.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to('New beer club', new_beer_club_path, class:'btn btn-primary') if current_user %>