<h1>Beer club: <%= @beer_club %></h1>

<%= render @beer_club %>

<h3>Members</h3>

<ul>
  <% @beer_club.users.each do |user| %>
    <li>
      <%= link_to user.username, user %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "Back to beer clubs", beer_clubs_path, class:'btn btn-primary' %>
</p>

<% if current_user %>
  <% if @beer_club.member?(current_user) %>
    <% membership = Membership.find_by(user_id: current_user.id, beer_club_id: @beer_club.id) %>
    <%= button_to "Terminate membership in this beer club", membership, method: :delete, class:'btn btn-danger' %>
  <% else %>
    <%= form_with(model: @membership) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Join this beer club" %>
    <% end %>
  <% end %>
<% end %>

<%= edit_and_destroy_buttons(@beer_club) %>
