<h1>User: <%= @user.username %></h1>

<p>
  <% if @user.ratings.empty? %>
    User has not yet made any ratings!
  <% else %>
    User has made <%= pluralize(@user.ratings.count, 'rating') %>, average rating <%= round(@user.average_rating) %>.<br />
    User's favorite beer style is <%= @user.favorite_style %>.<br />
    User's favorite brewery is <%= @user.favorite_brewery %>.
  <% end %>
</p>

<h3>Member of</h3>

<ul>
  <% @user.beer_clubs.each do |beer_club| %>
    <li>
      <%= link_to beer_club.name, beer_club %>
    </li>
  <% end %>
</ul>

<h3>Ratings</h3>

<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating.to_s %>
      <% if @user == current_user %>
        <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class:'btn btn-danger' %>
      <% end %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "Back to users", users_path, class:'btn btn-primary' %>
</p>
<p>
  <% if @user == current_user %>
    <%= link_to "Edit your details", edit_user_path(@user), class:'btn btn-primary' %>
    <%= button_to "Destroy your account", @user, method: :delete, class:'btn btn-danger' %>
  <% end %>
</p>