<p style="color: green"><%= notice %></p>

<h2>User</h2>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <% if @user.ratings.empty? %>
    User has not yet made any ratings!
  <% else %>
    User has made <%= pluralize(@user.ratings.count, 'rating') %>, average rating <%= @user.average_rating %>.
  <% end %>
</p>

<h3>Ratings</h3>

<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating.beer.name %>
      <%= rating.score %>
      <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
