<p style="color: green"><%= notice %></p>

<h2>List of ratings</h2>

<p>Number of ratings: <%= @ratings.count %></p>

<ul>
 <% @ratings.each do |rating| %>
   <%= render rating %>
   <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
 <% end %>
</ul>

<%= link_to "New rating", new_rating_path %>