<h1>Styles</h1>

<table class="table table-striped table-hover" id="styles">
  <thead>
    <tr>
      <th><%= link_to "Style", styles_path(order: "name")%></th>
      <th><%= link_to "Beers", styles_path(order: "beers")%></th>
    </tr>
  </thead>
  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
        <td><%= style.beers.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to("New style", new_style_path, class:'btn btn-primary') if current_user %>
