<h1>Style: <%= @style %></h1>

<%= render @style %>

<h3>Beers of this style</h3>

<ul>
<% @style.beers.each do |beer| %>
  <li><%= link_to beer.name, beer %></li>
<% end %>
</ul>

<p>
  <%= link_to "Back to styles", styles_path, class:'btn btn-primary' %>
</p>

<%= edit_and_destroy_buttons(@style) %>
