<h1>Style: <%= @style %></h1>

<%= render @style %>

<h3>Beers of this style</h3>

<ul>
<% @style.beers.each do |beer| %>
  <li><%= link_to beer.name, beer %></li>
<% end %>
</ul>

<p>
  <%= link_to "Back to styles", styles_path, class:'btn btn-primary' %>
</p>

<p>
  <% if current_user %>
    <%= link_to "Edit this style", edit_style_path(@style), class:'btn btn-primary' %>
    <%= button_to "Destroy this style", @style, method: :delete, class:'btn btn-danger' %>
  <% end %>
</p>
