<p>
  <em>Established in <%= brewery.year %></em>
  <% if not brewery.active  %>
    <span class="badge bg-secondary">retired</span>
  <% end %>
</p>

<h2>Beers</h2>

<p>
  Beers count:
  <%= brewery.beers.count %>
</p>

<ul>
  <% brewery.beers.each do |beer| %>
    <li><%= link_to beer.name, beer %></li>
  <% end %>
</ul>

<h2>Ratings</h2>

<p>
  <% if brewery.ratings.empty? %>
    Brewery has not yet been rated!
  <% else %>
    Brewery has <%= pluralize(brewery.ratings.count, 'rating') %> with an average of <%= round(brewery.average_rating) %>.
  <% end %>
</p>