<h1>Brewery: <%= @brewery %></h1>

<%= render @brewery %>

<p>
  <%= link_to "Back to breweries", breweries_path, class:'btn btn-primary' %>
</p>

<p>
  <% if current_user %>
    <%= link_to "Edit this brewery", edit_brewery_path(@brewery), class:'btn btn-primary' %>
    <%= button_to "Destroy this brewery", @brewery, method: :delete, class:'btn btn-danger' %>
  <% end %>
</p>
