<h1>
  Brewery: <%= @brewery %>
</h1>

<%= render @brewery %>

<p>
  <%= link_to "Back to breweries", breweries_path, class:'btn btn-primary' %>
</p>

<%= link_to "Change activity", toggle_activity_brewery_path(@brewery.id), data: {turbo_method: "post"}, class: "btn btn-primary" if current_user%>
<%= edit_and_destroy_buttons(@brewery) %>
