<p style="color: green"><%= notice %></p>

<%= render @brewery %>

<div>
  <% if not current_user.nil? %>
    <%= link_to "Edit this brewery", edit_brewery_path(@brewery) %> |
  <% end %>
  <%= link_to "Back to breweries", breweries_path %>

  <% if not current_user.nil? %>
    <%= button_to "Destroy this brewery", @brewery, method: :delete %>
  <% end %>
</div>
