<%= form_with(model: beer) do |form| %>
  <% if beer.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
        <% beer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :style_id, class: "form-label" %>
    <%= form.select :style_id, options_from_collection_for_select(@styles, :id, :name, selected: @beer.style_id), {}, { :class => "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :brewery_id, class: "form-label" %>
    <%= form.select :brewery_id, options_from_collection_for_select(@breweries, :id, :name, selected: @beer.brewery_id), {}, { :class => "form-select" }  %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
