<h1>Beers</h1>

<table class="table table-striped table-hover" id="beers">
  <thead>
    <tr>
      <th>Beer</th>
      <th>Style</th>
      <th>Brewery</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= link_to beer.style %></td>
        <td><%= link_to beer.brewery %></td>
        <td><%= round(beer.average) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to('New beer', new_beer_path, class:'btn btn-primary') if current_user %>